@model Pcoint.Models.Contact

@{
    ViewData["Item"] = "Contact";
}
@{ Layout = "_Layout"; }
<br />
<h4>Mobile Us</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for=" Name" class="form-control border" />
                <span asp-validation-for=" Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Email" class="control-label"></label>
                <input asp-for=" Email" class="form-control border" />
                <span asp-validation-for=" Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Mobile" class="control-label"></label>
                <input asp-for=" Mobile" class="form-control border" />
                <span asp-validation-for=" Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Location" class="control-label"></label>
                <input asp-for=" Location" class="form-control border" />
                <span asp-validation-for=" Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Query" class="control-label"></label>
                <input asp-for=" Query" class="form-control border" />
                <span asp-validation-for=" Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
